{{> video }}

{{#each imgs}}
<div style="text-align: center; margin: 0 auto">
  <span></span> <img src="http://companyoss01.oss-cn-hangzhou.aliyuncs.com/Tone/{{this}}" alt="" style="width: 95%;">
</div>
{{/each}}