{{> video }}

{{#each imgs}}
<div style="text-align: center; margin: 0 auto">
  <span></span> <img src="https://bifunex.oss-cn-hangzhou.aliyuncs.com/images/{{this}}" alt="" style="width: 95%;">
</div>
{{/each}}